<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       ">

    <bean id="configDir" class="blackboard.platform.plugin.PlugInUtil"
          factory-method="getConfigDirectory">
        <constructor-arg name="vid" value="atd"/>
        <constructor-arg name="handle" value="bbws"/>
    </bean>

    <bean id="configFile" class="java.io.File">
        <constructor-arg index="0" ref="configDir" />
        <constructor-arg index="1" value="config.xml" />
    </bean>

    <bean id="configurationService" class="com.alltheducks.configutils.service.CachingConfigurationService">
        <constructor-arg name="internalConfigurationService">
            <bean class="com.alltheducks.configutils.service.XmlConfigurationService">
                <property name="configurationXMLFile" ref="configFile" />
            </bean>
        </constructor-arg>
    </bean>

    <bean id="configurationMonitor" class="com.alltheducks.configutils.monitor.PollingConfigurationMonitor">
        <constructor-arg name="configurationFile" ref="configFile"/>
        <constructor-arg name="configurationService" ref="configurationService"/>
        <constructor-arg name="pollFreqSeconds" value="10"/>
    </bean>


    <!-- Blackboard Beans -->
    <bean id="userDbLoader"
          class="com.alltheducks.bbws.dao.BbDbLoaderFactory"
          factory-method="getUserDbLoader" />

    <bean id="courseMembershipDbLoader"
          class="com.alltheducks.bbws.dao.BbDbLoaderFactory"
          factory-method="getCourseMembershipDbLoader" />

    <bean id="bbConfigurationService"
          class="com.alltheducks.bbws.dao.BbDbLoaderFactory"
          factory-method="getBbConfigurationService" />

    <bean id="courseRoleDbLoader"
          class="com.alltheducks.bbws.dao.BbDbLoaderFactory"
          factory-method="getCourseRoleDbLoader" />

    <bean id="courseDbLoader"
          class="com.alltheducks.bbws.dao.BbDbLoaderFactory"
          factory-method="getCourseDbLoader" />

    <bean id="bundleManager"
          class="com.alltheducks.bbws.dao.BbDbLoaderFactory"
          factory-method="getBundleManagerEx" />

    <bean id="gradableItemDAO"
          class="com.alltheducks.bbws.dao.BbDbLoaderFactory"
          factory-method="getGradableItemDAO" />

    <bean id="gradingSchemaDAO"
          class="com.alltheducks.bbws.dao.BbDbLoaderFactory"
          factory-method="getGradingSchemaDAO" />

    <bean id="gradeDetailDAO"
          class="com.alltheducks.bbws.dao.BbDbLoaderFactory"
          factory-method="getGradeDetailDAO" />
</beans>
